PLATFORM_URL=https://your-region.cloud.grassvalley.com
API_KEY=your-api-key
#WORKLOAD_ID=
#MACRO_ID=
#FABRIC_ID=
#NODE_ID=

MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Generated with: $ openssl rand -base64 48
SESSION_SECRET=

# DEBUG VARS
WEBRTC_DEBUG=false
AMPP_NOTIFICATIONS_DEBUG=false


